/*Global styles*/
body {
  font-family: 'Arvo', serif;
  margin: 0px;
  /*font-family: 'Cutive Mono', monospace;*/
}

/*NavBar*/
.nav-bar-ul {
  margin: 0px;
  border-bottom: 1px solid black;
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.nav-bar-li {
  padding: 20px 30px 20px 30px;
  cursor: pointer;
}

li {
  border-left: 1px solid black;
}

ul li:last-child {
  border-right: 1px solid black;
}

/*Home page styles*/
.home-name {
  z-index: 1;
  position: fixed;
  top: 30%;
  font-size: 45px;
  font-weight: bold;
  /*text-shadow: -3px -3px 2 rgba(161,161,161, 1),
                3px -3px 2 rgba(161,161,161, 1),
               -3px  3px 2 rgba(161,161,161, 1),
                3px  3px 2 rgba(161,161,161, 1);*/

}

.home-occupation {
  z-index: 1;
  position: fixed;
  top: 40%;
  font-size: 50px;
  font-weight: bold;
  /*text-shadow: -3px -3px 5 rgba(255,0,0,0.8),
                3px -3px 5 rgba(255,0,0,0.8),
               -3px  3px 5 rgba(255,0,0,0.8),
                3px  3px 5 rgba(255,0,0,0.8);*/
}

/*For terminal effect on home page*/
#shell-cursor {
  display: inline-block;
  height: 15px;
  width: 7px;
  margin-bottom: -3px;
  background: #45D40C;
}

.shell-wrap {
  height: 440px;
  width: 800px;

  margin: 50px auto 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  opacity: 0.4;
}

.shell-top-bar {
  width: 808px;

  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 0.85em;
  border: 1px solid #CCCCCC;
  border-bottom: none;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.shell-body {
  height: 440px;
  width: 800px;

  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
