/*Global styles*/
body {
  font-family: 'Arvo', serif;
  margin: 0px;
  /*font-family: 'Cutive Mono', monospace;*/
}
.center {
  display: flex;
  justify-content: center;
}
/*End Global styles*/

/*NavBar*/
.nav-bar-ul {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid black;
  list-style: none;
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.nav-bar-li {
  padding: 20px 30px 20px 30px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  float: left;
}

.nav-bar-li:hover {
  color: white;
  background: #B8B8B8; /* Old browsers */
  background: -moz-linear-gradient(top, #B8B8B8 0%, #707070 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B8B8B8), color-stop(100%,#707070)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #B8B8B8 0%,#707070 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #B8B8B8 0%,#707070 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #B8B8B8 0%,#707070 100%); /* IE10+ */
  background: linear-gradient(to bottom, #B8B8B8 0%,#707070 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B8B8B8', endColorstr='#707070',GradientType=0 ); /* IE6-9 */
}

li {
  border-left: 1px solid black;
}

ul li:last-child {
  border-right: 1px solid black;
}
/*End NavBar*/

/*Home page styles*/
.home-occupation {
  font-size: 30px;
  margin-top: 20px;
}
/*End Home page styles*/

/*For terminal effect on home page*/
#shell-cursor {
  display: inline-block;
  height: 15px;
  width: 7px;
  margin-bottom: -3px;
  background: #45D40C;
}

.shell-wrap {
  height: 440px;
  width: 800px;

  margin: 30px auto 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  opacity: 0.4;
}

.shell-top-bar {
  width: 808px;

  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 0.85em;
  border: 1px solid #CCCCCC;
  border-bottom: none;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.shell-body {
  height: 440px;
  width: 800px;

  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/*End Terminal Effect*/

/*About Me*/
.images {
  /*width: 200px;*/
  /*height: 200px;*/
  margin-right: 50px;
  border-radius: 3px;
}
/*End About Me*/

/*For Article*/
.article-index {
  width: 30%;
  margin-top: 20px;
  margin-left: 20px;
  height: 90%;
  overflow-y: auto;
}

.article-container {
  /*width: 20%;*/
  border-bottom: 1px silver inset;
  /*margin-top: 20px;*/
  /*margin-left: 20px;*/
  padding: 10px;
  cursor: pointer;
}

.article-title {
  font-size: 24px;
  font-weight: bold;
}

iframe {
  margin-top: 20px;
  margin-left: 19px;
  padding: 10px 10px 10px 20px;
  border-left: 1px silver inset;
  border-right: none;
  border-bottom: none;
  border-top: none;
  width: 63%;
  height: 90%;
}
/*End For Articls*/
